.pageContentWrapper {
    padding-left: 80px;
    padding-right: 80px;
    /* Add top/bottom padding if needed for spacing from header/footer */
     padding-top: 40px;

    /* padding-bottom: 40px; */

    /* Optional: Set a max-width for the content area if desired, */
    /* otherwise it will just be full-width minus the padding. */
    /* max-width: 1600px; */ /* Example max-width */
    /* margin-left: auto; */ /* Center if max-width is set */
    /* margin-right: auto; */ /* Center if max-width is set */
}